In [4]:
import pandas as pd
import numpy as np

In [5]:
enem_sp = pd.read_csv('data/enem_2019-tratado.csv', sep=',', encoding='iso-8859-1')

In [6]:
enem_sp

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,nao_respondeu,NaN,...,600.2,ingles,1.0,160.0,200.0,180.0,200.0,200.0,940.0,sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,ingles,1.0,160.0,120.0,200.0,200.0,200.0,880.0,nao
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,publica,35904958.0,...,393.2,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,publica,NaN,...,419.2,ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,nao_respondeu,NaN,...,796.1,ingles,1.0,160.0,200.0,180.0,180.0,160.0,880.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499935,"1,90E+11",São Paulo,18,F,1,parda,1,1,nao_respondeu,NaN,...,479.1,1,1.0,100.0,120.0,120.0,140.0,100.0,580.0,sim
499936,"1,90E+11",São Paulo,17,F,1,preta,1,2,publica,35925457.0,...,43.2,1,1.0,80.0,120.0,140.0,120.0,100.0,560.0,sim
499937,"1,90E+11",São Paulo,17,F,1,parda,1,2,publica,35001156.0,...,487.3,ingles,1.0,120.0,80.0,60.0,120.0,0.0,380.0,sim
499938,"1,90E+11",São Paulo,17,M,1,parda,1,2,publica,NaN,...,401.1,ingles,1.0,160.0,120.0,160.0,140.0,160.0,740.0,nao
499939,"1,90E+11",Araras,18,F,1,branca,1,2,publica,35019926.0,...,559.5,ingles,1.0,120.0,120.0,120.0,120.0,140.0,620.0,sim

In [7]:
enem_campinas = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Campinas']
enem_campinas

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
15,"1,90E+11",Campinas,17,F,1,branca,1,1,nao_respondeu,NaN,...,496.5,ingles,1.0,160.0,120.0,140.0,140.0,120.0,680.0,sim
31,"1,90E+11",Campinas,19,F,1,parda,1,1,nao_respondeu,NaN,...,73.1,ingles,1.0,140.0,120.0,160.0,140.0,160.0,720.0,sim
51,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,NaN,...,417.5,ingles,1.0,160.0,140.0,160.0,120.0,160.0,740.0,sim
116,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,26078562.0,...,480.5,1,1.0,120.0,60.0,60.0,100.0,0.0,340.0,sim
169,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,NaN,...,624.4,ingles,1.0,140.0,120.0,140.0,160.0,160.0,720.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499729,"1,90E+11",Campinas,18,M,1,branca,1,1,nao_respondeu,NaN,...,490.9,ingles,1.0,120.0,100.0,100.0,100.0,0.0,420.0,sim
499749,"1,90E+11",Campinas,17,M,1,branca,1,2,publica,35040400.0,...,405.1,1,1.0,120.0,80.0,80.0,100.0,60.0,440.0,sim
499862,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018879.0,...,40.3,ingles,1.0,120.0,120.0,120.0,120.0,160.0,640.0,sim
499869,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,416.9,1,1.0,120.0,120.0,120.0,120.0,120.0,600.0,sim
499883,"1,90E+11",Campinas,20,F,1,branca,1,1,nao_respondeu,NaN,...,701.1,ingles,1.0,160.0,200.0,200.0,200.0,180.0,940.0,sim

In [8]:
np.random.seed(1) # para manter o resultado da amostragem

In [9]:
amos_simples = enem_campinas.sample(frac=0.2) # Porcentagem

In [10]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
327999,"1,90E+11",Campinas,20,M,1,preta,1,1,nao_respondeu,NaN,...,459.6,ingles,1.0,180.0,200.0,180.0,200.0,200.0,960.0,sim
235222,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018296.0,...,48.8,ingles,1.0,160.0,180.0,160.0,140.0,140.0,780.0,sim
134221,"1,90E+11",Campinas,18,F,1,parda,1,2,publica,NaN,...,429.9,ingles,1.0,100.0,120.0,100.0,80.0,100.0,500.0,sim
358407,"1,90E+11",Campinas,25,M,0,parda,1,1,nao_respondeu,NaN,...,687.4,1,1.0,140.0,120.0,120.0,140.0,140.0,660.0,nao
173364,"1,90E+11",Campinas,18,M,1,parda,1,1,nao_respondeu,NaN,...,617.9,ingles,1.0,140.0,120.0,140.0,140.0,80.0,620.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452747,"1,90E+11",Campinas,45,F,1,branca,1,1,nao_respondeu,NaN,...,373.5,1,1.0,80.0,80.0,80.0,80.0,80.0,400.0,sim
362918,"1,90E+11",Campinas,19,M,1,preta,1,1,nao_respondeu,NaN,...,450.7,ingles,1.0,120.0,40.0,40.0,120.0,0.0,320.0,sim
221397,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,524.8,1,1.0,120.0,120.0,120.0,120.0,100.0,580.0,sim
76628,"1,90E+11",Campinas,17,M,0,branca,1,2,publica,35018797.0,...,649.7,ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,sim
126402,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35039901.0,...,376.6,1,1.0,120.0,160.0,140.0,120.0,140.0,680.0,sim

In [11]:
amos_simples = enem_campinas.sample(300) # Quantidade numérica
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
57191,"1,90E+11",Campinas,17,F,1,amarela,1,2,publica,35045937.0,...,653.8,ingles,1.0,120.0,120.0,120.0,140.0,120.0,620.0,sim
215078,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35018880.0,...,507.8,ingles,1.0,120.0,120.0,120.0,120.0,100.0,580.0,sim
430770,"1,90E+11",Campinas,18,M,1,branca,1,2,privada,35112902.0,...,823.3,ingles,1.0,140.0,180.0,120.0,160.0,160.0,760.0,sim
409180,"1,90E+11",Campinas,19,F,1,preta,1,2,publica,35047120.0,...,574.7,ingles,1.0,120.0,120.0,120.0,120.0,140.0,620.0,sim
429862,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35812900.0,...,522.7,ingles,1.0,140.0,120.0,120.0,160.0,100.0,640.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390625,"1,90E+11",Campinas,41,M,2,branca,1,1,nao_respondeu,NaN,...,663.3,ingles,1.0,140.0,120.0,120.0,120.0,0.0,500.0,sim
236264,"1,90E+11",Campinas,23,F,0,parda,1,1,nao_respondeu,NaN,...,549.2,ingles,1.0,120.0,200.0,120.0,120.0,20.0,580.0,sim
377702,"1,90E+11",Campinas,19,F,1,preta,1,1,nao_respondeu,NaN,...,49.7,1,1.0,120.0,120.0,100.0,80.0,100.0,520.0,sim
231461,"1,90E+11",Campinas,18,F,1,branca,1,2,privada,NaN,...,572.3,ingles,1.0,120.0,120.0,120.0,160.0,160.0,680.0,sim
385102,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,35144757.0,...,69.2,ingles,1.0,140.0,120.0,140.0,120.0,100.0,620.0,sim

##### Outra maneira

In [12]:
np.random.seed(2)

In [13]:
amostra = np.random.choice(a=[0,1], size= 13198, replace=True, p=[0.8, 0.2])
amostra

array([0, 0, 0, ..., 0, 0, 1])

In [14]:
len(amostra[amostra == 0])

10566

In [15]:
len(amostra[amostra == 1])

2632

In [16]:
amos_simples = enem_campinas.loc[amostra == 1]

#### Amostragem sistemática

In [17]:
enem_campinas.shape

(13198, 28)

In [18]:
np.random.seed(2)
inicio = np.random.choice(10, 1)

In [19]:
amostra2 = np.arange(inicio, 13198, 100)
amostra2

array([    8,   108,   208,   308,   408,   508,   608,   708,   808,
         908,  1008,  1108,  1208,  1308,  1408,  1508,  1608,  1708,
        1808,  1908,  2008,  2108,  2208,  2308,  2408,  2508,  2608,
        2708,  2808,  2908,  3008,  3108,  3208,  3308,  3408,  3508,
        3608,  3708,  3808,  3908,  4008,  4108,  4208,  4308,  4408,
        4508,  4608,  4708,  4808,  4908,  5008,  5108,  5208,  5308,
        5408,  5508,  5608,  5708,  5808,  5908,  6008,  6108,  6208,
        6308,  6408,  6508,  6608,  6708,  6808,  6908,  7008,  7108,
        7208,  7308,  7408,  7508,  7608,  7708,  7808,  7908,  8008,
        8108,  8208,  8308,  8408,  8508,  8608,  8708,  8808,  8908,
        9008,  9108,  9208,  9308,  9408,  9508,  9608,  9708,  9808,
        9908, 10008, 10108, 10208, 10308, 10408, 10508, 10608, 10708,
       10808, 10908, 11008, 11108, 11208, 11308, 11408, 11508, 11608,
       11708, 11808, 11908, 12008, 12108, 12208, 12308, 12408, 12508,
       12608, 12708, 12808, 12908, 13008, 13108])

In [20]:
amos_sistematica = enem_campinas.iloc[amostra2,:]
amos_sistematica

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
401,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,...,68.6,ingles,1.0,160.0,160.0,180.0,160.0,200.0,860.0,sim
5079,"1,90E+11",Campinas,18,F,1,branca,1,2,publica,35018855.0,...,419.9,ingles,1.0,140.0,120.0,120.0,120.0,140.0,640.0,sim
9218,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,617.1,ingles,1.0,120.0,120.0,120.0,120.0,120.0,600.0,sim
13685,"1,90E+11",Campinas,20,M,1,parda,1,1,nao_respondeu,NaN,...,576.4,ingles,1.0,160.0,200.0,180.0,200.0,180.0,920.0,sim
18239,"1,90E+11",Campinas,20,M,1,branca,1,1,nao_respondeu,NaN,...,796.2,ingles,1.0,160.0,200.0,200.0,200.0,200.0,960.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481894,"1,90E+11",Campinas,34,M,1,parda,1,1,nao_respondeu,NaN,...,932.1,ingles,1.0,140.0,120.0,160.0,160.0,160.0,740.0,sim
485805,"1,90E+11",Campinas,16,F,1,branca,1,2,publica,35039901.0,...,441.6,ingles,1.0,120.0,120.0,100.0,120.0,0.0,460.0,sim
488958,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,492.9,ingles,1.0,160.0,120.0,140.0,120.0,140.0,680.0,sim
492626,"1,90E+11",Campinas,21,M,1,branca,1,1,nao_respondeu,NaN,...,51.1,ingles,1.0,120.0,120.0,120.0,100.0,0.0,460.0,sim
496410,"1,90E+11",Campinas,19,M,1,preta,1,1,nao_respondeu,NaN,...,404.4,ingles,1.0,100.0,80.0,80.0,80.0,40.0,380.0,sim

#### Outra maneira

In [21]:
np.random.seed(30)

In [22]:
inicio = np.random.choice(10, 1)
passo = np.random.randint(100, 150, 1)

In [23]:
inicio

array([5])

In [24]:
passo

array([137])

In [25]:
amostra3 = np.arange(inicio, 13198, passo)
amostra3

array([    5,   142,   279,   416,   553,   690,   827,   964,  1101,
        1238,  1375,  1512,  1649,  1786,  1923,  2060,  2197,  2334,
        2471,  2608,  2745,  2882,  3019,  3156,  3293,  3430,  3567,
        3704,  3841,  3978,  4115,  4252,  4389,  4526,  4663,  4800,
        4937,  5074,  5211,  5348,  5485,  5622,  5759,  5896,  6033,
        6170,  6307,  6444,  6581,  6718,  6855,  6992,  7129,  7266,
        7403,  7540,  7677,  7814,  7951,  8088,  8225,  8362,  8499,
        8636,  8773,  8910,  9047,  9184,  9321,  9458,  9595,  9732,
        9869, 10006, 10143, 10280, 10417, 10554, 10691, 10828, 10965,
       11102, 11239, 11376, 11513, 11650, 11787, 11924, 12061, 12198,
       12335, 12472, 12609, 12746, 12883, 13020, 13157])

In [26]:
amostra3_camp = enem_campinas.iloc[amostra3, :]
amostra3_camp

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
186,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,628.5,ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,sim
6519,"1,90E+11",Campinas,26,M,0,preta,1,1,nao_respondeu,NaN,...,364.9,ingles,1.0,120.0,200.0,140.0,120.0,200.0,780.0,nao
12280,"1,90E+11",Campinas,20,F,1,branca,1,1,nao_respondeu,NaN,...,46.7,ingles,1.0,120.0,120.0,80.0,100.0,20.0,440.0,sim
18436,"1,90E+11",Campinas,22,F,2,preta,1,1,nao_respondeu,NaN,...,586.7,1,1.0,100.0,120.0,120.0,100.0,80.0,520.0,sim
23717,"1,90E+11",Campinas,18,M,1,parda,1,1,nao_respondeu,NaN,...,48.4,ingles,1.0,80.0,80.0,80.0,80.0,0.0,320.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478519,"1,90E+11",Campinas,23,F,1,branca,1,1,nao_respondeu,NaN,...,592.2,ingles,1.0,140.0,120.0,120.0,120.0,180.0,680.0,sim
483431,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,...,55.2,ingles,1.0,140.0,120.0,120.0,140.0,100.0,620.0,sim
488340,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,542.3,1,1.0,120.0,120.0,140.0,120.0,80.0,580.0,sim
493180,"1,90E+11",Campinas,33,F,0,branca,1,1,nao_respondeu,NaN,...,396.7,ingles,1.0,80.0,40.0,40.0,80.0,0.0,240.0,sim
498126,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,NaN,...,653.7,ingles,1.0,120.0,120.0,120.0,100.0,80.0,540.0,sim

#### Amostragem estratificada

In [27]:
enem_campinas.RACA.value_counts()

branca           7507
parda            3652
preta            1510
amarela           279
não_declarado     205
indígena           45
Name: RACA, dtype: int64

In [28]:
print('Em porcentagem: ')
(enem_campinas.RACA.value_counts(normalize=True) * 100).round(3)

Em porcentagem:

branca           56.880
parda            27.671
preta            11.441
amarela           2.114
não_declarado     1.553
indígena          0.341
Name: RACA, dtype: float64

In [36]:
branca = enem_campinas.loc[enem_campinas.RACA == 'branca'].sample(frac=0.15)
branca.shape

(1126, 28)

In [37]:
parda = enem_campinas.loc[enem_campinas.RACA == 'parda'].sample(frac=0.15)
parda.shape

(548, 28)

In [38]:
preta = enem_campinas.loc[enem_campinas.RACA == 'preta'].sample(frac=0.15)
preta.shape

(226, 28)

In [39]:
amarela = enem_campinas.loc[enem_campinas.RACA == 'amarela'].sample(frac=0.15)
amarela.shape

(42, 28)

In [40]:
nao_declarado = enem_campinas.loc[enem_campinas.RACA == 'não_declarado'].sample(frac=0.15)
nao_declarado.shape

(31, 28)

In [41]:
indigena = enem_campinas.loc[enem_campinas.RACA == 'indígena'].sample(frac=0.15)
indigena.shape

(7, 28)

In [42]:
amos_estra = pd.concat([branca, parda, preta, amarela, nao_declarado, indigena])

In [43]:
amos_estra

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
391826,"1,90E+11",Campinas,19,M,1,branca,1,1,nao_respondeu,NaN,...,476.2,1,1.0,80.0,100.0,80.0,100.0,80.0,440.0,sim
399707,"1,90E+11",Campinas,17,F,1,branca,1,2,privada,NaN,...,680.3,ingles,1.0,160.0,120.0,140.0,160.0,120.0,700.0,sim
145948,"1,90E+11",Campinas,18,F,1,branca,1,2,publica,NaN,...,458.7,1,1.0,100.0,120.0,120.0,100.0,0.0,440.0,sim
215784,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35922985.0,...,513.8,1,1.0,120.0,120.0,120.0,120.0,120.0,600.0,sim
246564,"1,90E+11",Campinas,17,M,1,branca,1,2,publica,35018235.0,...,379.8,ingles,1.0,140.0,100.0,120.0,120.0,60.0,540.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52412,"1,90E+11",Campinas,17,M,1,indígena,1,2,publica,35903875.0,...,412.5,ingles,1.0,80.0,100.0,80.0,80.0,60.0,400.0,nao
403947,"1,90E+11",Campinas,17,F,1,indígena,1,2,publica,35913923.0,...,535.9,1,1.0,120.0,60.0,80.0,100.0,0.0,360.0,sim
214292,"1,90E+11",Campinas,18,F,1,indígena,1,1,nao_respondeu,NaN,...,486.7,1,1.0,140.0,180.0,140.0,160.0,120.0,740.0,sim
52128,"1,90E+11",Campinas,19,F,1,indígena,1,1,nao_respondeu,NaN,...,414.4,1,1.0,120.0,120.0,120.0,120.0,40.0,520.0,sim
88212,"1,90E+11",Campinas,17,F,1,indígena,1,2,publica,NaN,...,519.6,1,1.0,140.0,160.0,100.0,160.0,80.0,640.0,sim

### Para grandes quantidades de grupos

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_treino, X_teste, y_treino, amos_estra = train_test_split(enem_campinas.drop('RACA', axis=1), enem_campinas['RACA'],
                                                          stratify=enem_campinas.RACA, test_size=0.2)

In [46]:
amos_estra.shape

(2640,)

In [48]:
amos_estra.value_counts()

branca           1502
parda             730
preta             302
amarela            56
não_declarado      41
indígena            9
Name: RACA, dtype: int64

In [49]:
amos_estra = amos_estra.index
amos_estra

Int64Index([ 63230, 433228, 190486, 249016, 397616, 464738, 371529, 386511,
              3271, 487722,
            ...
            267027, 248194, 426633,  22363, 167253, 288811, 208869, 485452,
            292664, 288660],
           dtype='int64', length=2640)

In [50]:
# 20% de cada grupo racial
amos_estra_camp = enem_campinas.loc[amos_estra,:]
amos_estra_camp

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
63230,"1,90E+11",Campinas,17,M,1,amarela,1,2,publica,NaN,...,506.7,ingles,1.0,140.0,120.0,140.0,120.0,120.0,640.0,sim
433228,"1,90E+11",Campinas,18,M,1,branca,1,1,nao_respondeu,NaN,...,636.2,ingles,1.0,120.0,120.0,120.0,120.0,160.0,640.0,sim
190486,"1,90E+11",Campinas,18,F,1,parda,1,2,publica,35018399.0,...,53.9,ingles,1.0,140.0,120.0,120.0,120.0,120.0,620.0,sim
249016,"1,90E+11",Campinas,18,M,1,branca,1,2,privada,NaN,...,504.2,1,1.0,80.0,120.0,120.0,120.0,80.0,520.0,sim
397616,"1,90E+11",Campinas,21,M,1,branca,1,1,nao_respondeu,NaN,...,790.8,ingles,1.0,160.0,160.0,180.0,180.0,200.0,880.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288811,"1,90E+11",Campinas,33,F,2,branca,1,1,nao_respondeu,NaN,...,695.2,ingles,1.0,160.0,180.0,160.0,160.0,180.0,840.0,sim
208869,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,492.1,ingles,1.0,120.0,120.0,120.0,120.0,60.0,540.0,nao
485452,"1,90E+11",Campinas,19,F,1,parda,1,1,nao_respondeu,NaN,...,665.8,1,1.0,160.0,200.0,200.0,160.0,160.0,880.0,sim
292664,"1,90E+11",Campinas,19,M,1,parda,1,1,nao_respondeu,NaN,...,605.2,1,1.0,120.0,160.0,120.0,120.0,120.0,640.0,sim
288660,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,...,700.3,ingles,1.0,160.0,160.0,160.0,160.0,140.0,780.0,sim

In [75]:
amos_estra_camp.ESCOLA

63230           publica
433228    nao_respondeu
190486          publica
249016          privada
397616    nao_respondeu
              ...
288811    nao_respondeu
208869    nao_respondeu
485452    nao_respondeu
292664    nao_respondeu
288660    nao_respondeu
Name: ESCOLA, Length: 2640, dtype: object

### Amostragem por conglomerado (agrupamento)

In [80]:
# Criando uma tabela de dados de escolas públicas de campinas
escolas_p = enem_campinas.loc[enem_campinas.ESCOLA == 'publica']

In [116]:
escolas_p.shape

(4175, 28)

In [84]:
escolas_p

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
51,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,NaN,...,417.5,ingles,1.0,160.0,140.0,160.0,120.0,160.0,740.0,sim
116,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,26078562.0,...,480.5,1,1.0,120.0,60.0,60.0,100.0,0.0,340.0,sim
325,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35907376.0,...,509.3,ingles,1.0,80.0,120.0,100.0,100.0,80.0,480.0,sim
949,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35924573.0,...,601.4,ingles,1.0,160.0,120.0,120.0,140.0,120.0,660.0,sim
1004,"1,90E+11",Campinas,24,F,1,branca,1,2,publica,35980158.0,...,359.8,1,1.0,120.0,40.0,100.0,100.0,60.0,420.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499530,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35042651.0,...,491.6,ingles,1.0,140.0,120.0,120.0,160.0,120.0,660.0,sim
499640,"1,90E+11",Campinas,22,M,1,preta,1,2,publica,35018533.0,...,365.4,1,1.0,80.0,60.0,60.0,80.0,0.0,280.0,sim
499691,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35018089.0,...,770.3,ingles,1.0,120.0,120.0,120.0,160.0,80.0,600.0,sim
499749,"1,90E+11",Campinas,17,M,1,branca,1,2,publica,35040400.0,...,405.1,1,1.0,120.0,80.0,80.0,100.0,60.0,440.0,sim
499862,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018879.0,...,40.3,ingles,1.0,120.0,120.0,120.0,120.0,160.0,640.0,sim

In [87]:
amostras = escolas_p['CO_ESCOLA'].value_counts()
amostras

35045937.0    152
35018363.0    134
35018797.0    124
35018879.0    110
35018326.0    109
             ...
35462822.0      1
35058836.0      1
35112926.0      1
35017255.0      1
35047053.0      1
Name: CO_ESCOLA, Length: 186, dtype: int64

In [86]:
amostras.index

Float64Index([35045937.0, 35018363.0, 35018797.0, 35018879.0, 35018326.0,
              35047200.0, 35901097.0, 35045949.0, 35018235.0, 35018302.0,
              ...
              35018181.0, 35445757.0, 35045724.0, 35432842.0, 35039834.0,
              35462822.0, 35058836.0, 35112926.0, 35017255.0, 35047053.0],
             dtype='float64', length=186)

In [120]:
# 186 números [0, 1], sendo 85% de números 0 e 15% de n[umeros 1]
amostragem = np.random.choice(a=[0,1], size=186, replace=True, p=[0.85, 0.15])
amostragem

array([0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [121]:
amos_conglomerado = amostras.loc[amostragem == 1]
amos_conglomerado

35018879.0    110
35045949.0     84
35045718.0     67
35045664.0     60
35018314.0     58
35039901.0     50
35047120.0     49
35018570.0     49
35907376.0     19
35018818.0     13
35901124.0     12
35901118.0     11
35045697.0     11
35127784.0      9
35902559.0      7
35018200.0      6
35118084.0      5
35112707.0      3
35112641.0      3
35500012.0      1
35159943.0      1
35017700.0      1
35035956.0      1
35150095.0      1
35800387.0      1
35441648.0      1
35138769.0      1
35004269.0      1
35112773.0      1
35018181.0      1
Name: CO_ESCOLA, dtype: int64

In [122]:
amos_conglomerado.shape

(30,)

In [123]:
amos_conglomerado.index

Float64Index([35018879.0, 35045949.0, 35045718.0, 35045664.0, 35018314.0,
              35039901.0, 35047120.0, 35018570.0, 35907376.0, 35018818.0,
              35901124.0, 35901118.0, 35045697.0, 35127784.0, 35902559.0,
              35018200.0, 35118084.0, 35112707.0, 35112641.0, 35500012.0,
              35159943.0, 35017700.0, 35035956.0, 35150095.0, 35800387.0,
              35441648.0, 35138769.0, 35004269.0, 35112773.0, 35018181.0],
             dtype='float64')

In [124]:
amos_conglomerado = escolas_p.loc[escolas_p['CO_ESCOLA'].isin([35018879.0, 35045949.0, 35045718.0, 35045664.0, 35018314.0,
              35039901.0, 35047120.0, 35018570.0, 35907376.0, 35018818.0,
              35901124.0, 35901118.0, 35045697.0, 35127784.0, 35902559.0,
              35018200.0, 35118084.0, 35112707.0, 35112641.0, 35500012.0,
              35159943.0, 35017700.0, 35035956.0, 35150095.0, 35800387.0,
              35441648.0, 35138769.0, 35004269.0, 35112773.0, 35018181.0])]

In [125]:
amos_conglomerado

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
325,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35907376.0,...,509.3,ingles,1.0,80.0,120.0,100.0,100.0,80.0,480.0,sim
2382,"1,90E+11",Campinas,28,F,2,parda,1,2,publica,35045718.0,...,611.6,ingles,1.0,120.0,120.0,140.0,140.0,160.0,680.0,sim
3006,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35047120.0,...,467.6,ingles,1.0,120.0,140.0,120.0,120.0,120.0,620.0,sim
3336,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35039901.0,...,670.8,ingles,1.0,140.0,200.0,160.0,200.0,200.0,900.0,sim
3413,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35045949.0,...,563.2,ingles,1.0,120.0,120.0,120.0,100.0,80.0,540.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496258,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35018314.0,...,668.5,ingles,1.0,160.0,120.0,120.0,120.0,40.0,560.0,sim
496724,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35018879.0,...,550.4,ingles,1.0,160.0,120.0,120.0,160.0,100.0,660.0,sim
497956,"1,90E+11",Campinas,17,F,1,parda,2,2,publica,35901124.0,...,42.6,1,1.0,120.0,120.0,100.0,120.0,100.0,560.0,sim
498473,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35045664.0,...,704.4,ingles,1.0,120.0,120.0,120.0,120.0,120.0,600.0,sim
499862,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018879.0,...,40.3,ingles,1.0,120.0,120.0,120.0,120.0,160.0,640.0,sim