# Probabilidade

In [2]:
import numpy as np
import pandas as pd

In [3]:
enem_sp = pd.read_csv('data/enem_2019-tratado.csv', sep=',', encoding='iso-8859-1')

In [4]:
enem_guarulhos = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Guarulhos']

In [5]:
enem_bauru = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Bauru']

In [6]:
enem_guarulhos.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,nao_respondeu,NaN,...,796.1,ingles,1.0,160.0,200.0,180.0,180.0,160.0,880.0,sim
56,"1,90E+11",Guarulhos,17,F,1,parda,1,2,publica,NaN,...,468.1,1,1.0,100.0,60.0,60.0,100.0,0.0,320.0,sim
69,"1,90E+11",Guarulhos,27,M,1,não_declarado,1,1,nao_respondeu,NaN,...,743.8,ingles,1.0,120.0,180.0,120.0,120.0,160.0,700.0,sim
130,"1,90E+11",Guarulhos,28,F,1,branca,1,1,nao_respondeu,NaN,...,415.1,ingles,1.0,160.0,120.0,160.0,120.0,100.0,660.0,sim
202,"1,90E+11",Guarulhos,17,F,1,parda,1,2,publica,35005824.0,...,594.9,ingles,1.0,120.0,120.0,120.0,120.0,160.0,640.0,sim

In [7]:
enem_bauru.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
477,"1,90E+11",Bauru,21,M,1,branca,1,1,nao_respondeu,NaN,...,664.1,ingles,1.0,100.0,120.0,120.0,120.0,100.0,560.0,sim
928,"1,90E+11",Bauru,17,M,1,amarela,1,2,publica,35025240.0,...,740.3,ingles,1.0,140.0,120.0,120.0,140.0,100.0,620.0,sim
1070,"1,90E+11",Bauru,19,M,1,branca,1,1,nao_respondeu,NaN,...,789.2,ingles,1.0,160.0,200.0,200.0,200.0,200.0,960.0,sim
1235,"1,90E+11",Bauru,18,F,1,parda,1,2,privada,35115435.0,...,71.5,ingles,1.0,140.0,140.0,140.0,140.0,120.0,680.0,sim
1506,"1,90E+11",Bauru,19,M,1,branca,1,1,nao_respondeu,NaN,...,533.8,1,1.0,120.0,140.0,120.0,100.0,140.0,620.0,sim

In [8]:
len(enem_guarulhos)

15647

In [9]:
len(enem_bauru)

4171

In [15]:
# Criando a função de probabilidade
def probab(A, E):
    resultado = (A/E) * 100
    print(f"A probabilidade é de {resultado:.2f} %")

In [20]:
print('Retirar um vestibulando de Guarulhos: ')
probab(len(enem_guarulhos), len(enem_sp))

Retirar um vestibulando de Guarulhos:
A probabilidade é de 3.13 %

In [21]:
print('Retirar um vestibulando de Bauru: ')
probab(len(enem_bauru), len(enem_sp))

Retirar um vestibulando de Bauru:
A probabilidade é de 0.83 %

## Probabilidade de não ocorrer um evento

In [22]:
def probab_nao(A, E):
    resultado = (1 - (A/E)) * 100
    print(f"A probabilidade de não correr é: {resultado:.2f} %")

In [24]:
print('A probabilidade de não retirar um vestibulando de Guarulhos')
probab_nao(len(enem_guarulhos), len(enem_sp))

A probabilidade de não retirar um vestibulando de Guarulhos
A probabilidade de não correr é: 96.87 %

In [33]:
print('A probabilidade de NÃO retirar um vestibulando de Guarulhos e nem de Bauru \n')
probab_nao(len(enem_guarulhos)+len(enem_bauru), len(enem_sp))

A probabilidade de NÃO retirar um vestibulando de Guarulhos e nem de Bauru

A probabilidade de não correr é: 96.04 %

## Probabilidade de união mutuamente exclusivos (AUB)

In [34]:
# P (AUB) = P(A)+P(B) - P(A∩B)

In [43]:
def probab_uniao(A, B, E):
    resultado = (A/E + B/E) * 100
    print(f"A probabilidade é de {resultado:.2f} %")

In [44]:
print('A probabilidade de retirar um vestibulando de Guarulhos ou de Bauru')
probab_uniao(len(enem_guarulhos), len(enem_bauru), len(enem_sp))

A probabilidade de retirar um vestibulando de Guarulhos ou de Bauru
A probabilidade é de 3.96 %

## Probabilidade da Intersecção de dois eventos

In [56]:
def probab_inter(A, B, E):
    resultado = ((A/E) * (B/E)) * 100
    print(f"A probabilidade é de {resultado:.3f} %")

In [57]:
print('A probabilidade de retirar um vestibulando de Guarulhos E de Bauru (com reposição)')
probab_inter(len(enem_guarulhos), len(enem_bauru), len(enem_sp))

A probabilidade de retirar um vestibulando de Guarulhos E de Bauru (com reposição)
A probabilidade é de 0.026 %

## Probabilidade condicional

In [74]:
def probab_cond(AB, B):
    resultado = (AB / B) * 100
    print(f"A probabilidade é de {resultado:.2f} %")

In [75]:
mulher = enem_sp.loc[enem_sp.SEXO == 'F']
mulher_parda = mulher.loc[mulher.RACA == 'parda']
mulher_parda.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,ingles,1.0,160.0,120.0,200.0,200.0,200.0,880.0,nao
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,publica,NaN,...,419.2,ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,sim
7,"1,90E+11",Santo André,20,F,1,parda,1,1,nao_respondeu,NaN,...,508.5,1,1.0,120.0,120.0,120.0,100.0,80.0,540.0,sim
9,"1,90E+11",Santo André,44,F,2,parda,1,1,nao_respondeu,NaN,...,488.1,1,1.0,120.0,120.0,120.0,120.0,40.0,520.0,sim
11,"1,90E+11",Guará,17,F,1,parda,1,2,publica,35023310.0,...,535.1,ingles,1.0,140.0,120.0,140.0,160.0,120.0,680.0,sim

In [76]:
print('A probabilidade de retirar uma mulher parda')
probab_cond(len(mulher_parda),len(mulher))

A probabilidade de retirar uma mulher parda
A probabilidade é de 30.76 %